body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
}
p {
  margin: 0px;
}
.form-container {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  height: 80px;
}

.primary-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}
.add-btn {
  background-color: black;
  padding: 6px 12px;
  border-radius: 8px;
}
.add-btn a {
  color: white;
}
.todo-list {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  color: black;
}
.todo-list a {
  text-decoration: none !important;
  color: black;
  font-weight: 600;
}
.status-badge-box {
  display: flex;
}
.status-badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 12px;
  color: white;
  margin: 10px 0px;
}

.status-pending {
  background-color: red;
}

.status-inprogress {
  background-color: orange;
}

.status-completed {
  background-color: green;
}

.todo-actions {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
}

.edit-btn {
  background-color: #007bff;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}
